REPORTING_SQL_SERVER=127.0.0.1
REPORTING_SQL_PORT=3306
REPORTING_SQL_DATABASE=myreportingdatabase
REPORTING_SQL_USERNAME=
REPORTING_SQL_PASSWORD=
REPORTING_SQL_TABLENAME=auldata_lake

AUDIT_MONGO_SERVER=127.0.0.1:27018
AUDIT_MONGO_REPLICASET=rs4
AUDIT_MONGO_USERNAME=
AUDIT_MONGO_PASSWORD=
AUDIT_MONGO_DATABASE=mydb
AUDIT_MONGO_COLLECTION=myauditcollection

ARC_MONGO_SERVER_A=127.0.0.1:27017
ARC_MONGO_REPLICASET_A=rs0
ARC_MONGO_SERVER_B=127.0.0.1:27017
ARC_MONGO_REPLICASET_B=rs1
ARC_MONGO_SERVER_C=127.0.0.1:27017
ARC_MONGO_REPLICASET_C=rs2
ARC_MONGO_USERNAME=
ARC_MONGO_PASSWORD=
ARC_MONGO_DATABASE=mydb
ARC_MONGO_COLLECTION=mycollection
ARC_MONGO_AUTH_MECHANISM=SCRAM-SHA-1
ARC_MONGO_AUTH_SOURCE=admin
ARC_MONGO_AUTH_DATABASE=admin
ARC_MONGO_READ_PREFERENCE=secondary

OFFER_NAME=MYOFFERNAME
LOG_LEVEL=DEBUG
